.jumbotron {
  padding: 4rem 2rem;
  background-color: var(--bs-light);
  border-radius: .3rem;
}

.jumbotron-dark-bg {
  background-color: var(--bs-dark);
  background-image: url("../assets/subtle-prism.svg");
  /* background by SVGBackgrounds.com */
}

.jumbotron-light-bg {
  background-color: var(--bs-light);
  background-image: url("../assets/diamond-sunset.svg");
  /* background by SVGBackgrounds.com */
}

.no-bg {
  background: none !important;
}

.carousel-bg {
  background: rgba(0, 0, 0, 0.4);
}

.team-card {
  max-width: 20em;
}

.team-icon {
  max-width: 1em;
}

.large-icon {
  max-width: 200px;
}

.block-padding {
  padding: 4em 8em;
}

.alt-bg-block {
  background-color: var(--bs-light);
}

.light-text {
  color: var(--bs-light);
}

.dark-text {
  color: var(--bs-dark);
}

.test-width {
  width: 100%;
}

.indent {
  text-indent: 2em;
}

.justify {
  text-align: justify;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}


@media (min-width: 800px) {
  .text-block {
    max-width: 75%;
  }
}

@media (max-width: 1024px) {
  .block-padding {
    padding: 2em;
  }
}
